<div class="blog">

    <div class="container">

        <div class="block-1">
            
            <a href="#" class="article color-1">
                <div class="block-1">
                    <div class="icon">
                        <i class="fa-solid fa-newspaper"></i>
                    </div>
                    <h6 class="title">Article 1</h6>
                </div>
                <div class="block-2">
                    <div class="description">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                        Consequatur asperiores necessitatibus similique.
                    </div>
                    <div class="date">0000-00-00</div>
                </div>
            </a>

            <a href="#" class="article color-2">
                <div class="block-1">
                    <div class="icon">
                        <i class="fa-solid fa-newspaper"></i>
                    </div>
                    <h6 class="title">Article 1</h6>
                </div>
                <div class="block-2">
                    <div class="description">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                        Consequatur asperiores necessitatibus similique.
                    </div>
                    <div class="date">0000-00-00</div>
                </div>
            </a>

            <a href="#" class="article color-3">
                <div class="block-1">
                    <div class="icon">
                        <i class="fa-solid fa-newspaper"></i>
                    </div>
                    <h6 class="title">Article 1</h6>
                </div>
                <div class="block-2">
                    <div class="description">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                        Consequatur asperiores necessitatibus similique.
                    </div>
                    <div class="date">0000-00-00</div>
                </div>
            </a>

            <a href="#" class="article color-4">
                <div class="block-1">
                    <div class="icon">
                        <i class="fa-solid fa-newspaper"></i>
                    </div>
                    <h6 class="title">Article 1</h6>
                </div>
                <div class="block-2">
                    <div class="description">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                        Consequatur asperiores necessitatibus similique.
                    </div>
                    <div class="date">0000-00-00</div>
                </div>
            </a>

        </div>

        <div class="block-2">
            <div class="text">
                <p>
                    I write Wonderful Article!
                    <br>
                    I hope you will enjoy it.
                </p>
            </div>
            <div class="frame">
                <img src="" alt="">
            </div>
        </div>

    </div>

</div>