<section class="hero">

    <div class="animation" id="animation"></div>

    <div class="container">
        <div class="block-1">
            <div class="links">
                <a href="#" class="button-link">
                    <i class="fa-brands fa-github"></i>
                </a>
                <a href="#" class="button-link">
                    <i class="fa-brands fa-twitter"></i>
                </a>
                <a href="#" class="button-link">
                    <i class="fa-brands fa-linkedin"></i>
                </a>
                <a href="#" class="button-link">
                    <i class="fa-brands fa-youtube"></i>
                </a>
                <a href="#" class="button-link">
                    <i class="fa-brands fa-codepen"></i>
                </a>
                <a href="#" class="button-link">
                    <i class="fa-brands fa-dribbble"></i>
                </a>
                <a href="#" class="button-link">
                    <i class="fa-brands fa-facebook"></i>
                </a>
                <a href="#" class="button-link">
                    <i class="fa-brands fa-discord"></i>
                </a>
            </div>
        </div>

        <div class="block-2">
            <div class="text">
                <h1>PORTFOLIO</h1>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Amet optio reprehenderit quaerat, 
                    voluptatem culpa ipsam laboriosam soluta eos in architecto?
                </p>
                <div class="languages">
                    <a href="#" class="language">English</a>
                    <a href="#" class="language">Français</a>
                    <a href="#" class="language">Español</a>
                </div>
            </div>
        </div>
    </div>

</section>