<div class="projects">

    <div class="container">

        <h2 class="block-1">Projects</h2>

        <div class="block-2">

            <article class="project">

                <div class="block-1">
                    <div class="date">00-00-0000</div>
                    <div class="button-demo">DEMO</div>
                </div>

                <div class="block-2">
                    <h6>Project 1</h6>
                    <p class="text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, quibusdam!
                    </p>
                </div>

                <div class="block-3">
                    <img src="https://cdn.dribbble.com/users/4532032/screenshots/17911204/media/8215b18406e211d3a62cf8230798fee2.jpg?compress=1&resize=1600x1200&vertical=top" 
                        alt="" srcset="">
                </div>

                <div class="block-4">
                    <div class="keyword">Mobile</div>
                    <div class="keyword">Mobile</div>
                </div>

            </article>

            <article class="project">

                <div class="block-1">
                    <div class="date">00-00-0000</div>
                    <div class="button-demo">DEMO</div>
                </div>

                <div class="block-2">
                    <h6>Project 1</h6>
                    <p class="text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, quibusdam!
                    </p>
                </div>

                <div class="block-3">
                    <img src="https://cdn.dribbble.com/users/4532032/screenshots/17911204/media/8215b18406e211d3a62cf8230798fee2.jpg?compress=1&resize=1600x1200&vertical=top" 
                        alt="" srcset="">
                </div>

                <div class="block-4">
                    <div class="keyword">Mobile</div>
                    <div class="keyword">Mobile</div>
                </div>

            </article>

            <article class="project">

                <div class="block-1">
                    <div class="date">00-00-0000</div>
                    <div class="button-demo">DEMO</div>
                </div>

                <div class="block-2">
                    <h6>Project 1</h6>
                    <p class="text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, quibusdam!
                    </p>
                </div>

                <div class="block-3">
                    <img src="https://cdn.dribbble.com/users/4532032/screenshots/17911204/media/8215b18406e211d3a62cf8230798fee2.jpg?compress=1&resize=1600x1200&vertical=top" 
                        alt="" srcset="">
                </div>

                <div class="block-4">
                    <div class="keyword">Mobile</div>
                    <div class="keyword">Mobile</div>
                </div>

            </article>

            <article class="project">

                <div class="block-1">
                    <div class="date">00-00-0000</div>
                    <div class="button-demo">DEMO</div>
                </div>

                <div class="block-2">
                    <h6>Project 1</h6>
                    <p class="text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, quibusdam!
                    </p>
                </div>

                <div class="block-3">
                    <img src="https://cdn.dribbble.com/users/4532032/screenshots/17911204/media/8215b18406e211d3a62cf8230798fee2.jpg?compress=1&resize=1600x1200&vertical=top" 
                        alt="" srcset="">
                </div>

                <div class="block-4">
                    <div class="keyword">Mobile</div>
                    <div class="keyword">Mobile</div>
                </div>

            </article>

        </div>

    </div>
    
</div>