.button-icon
{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    vertical-align: middle;
    user-select: none;
}

.button-icon:not(.btn-rect)
{
    border-radius: 50%;
}
.button-icon.btn-rect
{
    border-radius: 30%;
}