.projects > .container > .block-2 > .project > .block-1
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    box-sizing: border-box;
    padding: 10px;
}

.projects > .container > .block-2 > .project > .block-1 > .date
{
    font-size: 0.8rem;
}

.projects > .container > .block-2 > .project > .block-1 > .button-demo
{
    font-size: 0.8rem;
    box-sizing: border-box;
    padding: 5px 10px;
    border-radius: 0.4rem;
    text-decoration: none;
}